@import '../../style/vars';

.title {
  padding-top: 300px;
  @include h1;
  font-family: $font-orchidea;
}

.content {
 display: flex;
 flex-wrap: wrap;
}

.content__imgTop {
  @include imageLH;
}

.content__text {
  width: 600px;
  margin-top: 207px;
}

.content__textTitle {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 25px;
}

.content__textItem1 {
  font-size: 18px;
  line-height: 130%;
  
}

.content__textItem2 {
  font-size: 18px;
  line-height: 130%;
  padding-top: 5px;
}

.content__imgBottom {
  margin-right: 123px;
  width: 600px;
}

.portfolio__imgBottom {

}