@import '../../style/vars';

.container {
}

.block {
 display: flex;
 flex-wrap: wrap;
}

.title {
    margin-top: 200px;
    @include h1;
    font-family: $font-orchidea;
  }

.imgLH {
  @include imageLH;
  
  
}

.blockRH {
  width: 600px;
  margin-top: 207px;
}

.paragraphHeadingRH {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 25px;
}

.paragraphRH1 {
  font-size: 18px;
  line-height: 130%;
  
}

.paragraphRH2 {
  font-size: 18px;
  line-height: 130%;
  padding-top: 5px;
}

.blockLH {
  margin-right: 123px;
  width: 600px;
}

.paragraphHeadingLH {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 25px;
}

.paragraphLH1 {
  font-size: 18px;
  line-height: 130%;
}

.paragraphLH2 {
  font-size: 18px;
  padding-top: 5px;
  line-height: 130%;
}

.imgRH {

}