@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Orchidea Pro';
    src: url('./fonts/OrchideaProMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}