@import './fonts';

$font-roboto: 'Roboto';
$font-orchidea: 'Orchidea Pro';
$font-manrope: 'Manrope';

@mixin mobile() {
    @media screen and (min-width: 220px) and (max-width: 540px) {
        @content;
    }
}

@mixin h1 {
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 136px;
    // margin-top: 160px;
    text-transform: uppercase;

    @include mobile() {
        font-size: 24px;
    }
}

@mixin imageLH {
    margin-left: -300px;
    margin-right: 128px;
    margin-bottom: 127px;
    @media screen and (min-width: 220px) and (max-width: 540px){
        margin: 0px;
      }
}