@import './style/vars'; 

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
  z-index: 1;
}

.logo {
  width: 170px;
  height: 32px;
}

.header__phone {
  color: #FFFFFF;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
}

.footer {
  margin-top: 160px;
  height: 200px;
  background: #141414;
}

.logo__footer {
  font-family: $font-roboto;
  padding-top: 166px;
  font-size: 14px;
  text-align: center;
  color: white; 
}