@font-face {
  font-family: "Roboto";
  src: url("./style/fonts/Roboto-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Orchidea Pro";
  src: url("./style/fonts/OrchideaProMedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./style/fonts/Manrope-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.menu-header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
  z-index: 1;
}

.main-container {
  position: relative;
  top: 100px;
  background: bisque;
}

.container {
  position: absolute;
  margin-left: 260px;
  margin-right: 335px;
  width: 1324px;
  height: 100%;
  background: aqua;
}

.logo {
  position: absolute;
  width: 170px;
  height: 32px;
  left: 305.27px;
  top: 37px;
  color: #FFFFFF;
}

.mobile-number {
  position: absolute;
  left: 1431px;
  top: 38px;
  font-family: "Manrope";
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.footer {
  margin-top: 160px;
  margin-left: -260px;
  margin-right: -335px;
  height: 200px;
  background: #141414;
}

.logo-footer {
  font-family: "Roboto";
  padding-top: 166px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: white;
}
