.menu-header{
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
  z-index: 1;
}

// выравнивание container относительного родительского main-container
.main-container{
	position: relative;
  top: 100px;
  // height: 350px;/ убираю высоту пропадает background
  background: bisque;
}
.container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 1686px;
	height: 100%;
  background: aqua;
}

.logo{
  position: absolute;
  width: 170px;
  height: 32px;
  left: 305.27px;
  top: 37px;
  color: #FFFFFF;
}

.mobili-number{
  position: absolute;
  width: 228px;
  height: 32px;
  left: 1431px;
  top: 38px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.title-block{
  position: absolute;
  width: 1253px;
  height: 60px;
  left: 260px;
  top: 301px;
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
/* or 62px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #141414;
}

.logo-julia{
  // position: absolute;
  // width: 1055.38px;
  // height: 708.45px;
  // left: -24.25px;
  // top: 380px;
  position: absolute;
  width: 860px;
  height: 480px;
  left: -3px;
  top: 484px;
  background: #C4C4C4;
}

%block-title-text {
  position: absolute;
  width: 600px;
  height: 160px;
  left: 985px;
  top: 556px;
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
/* or 53px */
  display: flex;
  align-items: center;
  color: #141414;
}

.title-text{
  @extend %block-title-text;
}

%block-text {
  position: absolute;
  width: 600px;
  height: 150px;
  left: 985px;
  top: 741px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
/* or 23px */
  display: flex;
  align-items: center;
  color: #141414;
}

.text{
  @extend %block-text;
}


